---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=CMqG0jxYKd81yfsGtDIIZmWTFLmuXIdw0B2jGBtC&limit=1&location=1331%2017th%20St,%20Denver,%20CO%2080202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 31 May 2022 13:58:32 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
      X-Vcap-Request-Id:
      - 64cd7ea9-a17b-48d9-7502-1b76840cc4e2
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.750614,"longitude":-104.996775,"location_country":"US","precision":{"value":9,"name":"premise","types":["premise"]},"station_locator_url":"https://afdc.energy.gov/stations/","total_results":224,"station_counts":{"total":506,"fuels":{"BD":{"total":0},"E85":{"total":2},"ELEC":{"total":498,"stations":{"total":216}},"HY":{"total":0},"LNG":{"total":0},"CNG":{"total":1},"LPG":{"total":5}}},"offset":0,"fuel_stations":[{"access_code":"public","access_days_time":"MO:
        Not Specified; TU: Not Specified; WE: Not Specified; TH: Not Specified; FR:
        Not Specified; SA: Not Specified; SU: Not Specified","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2022-05-31","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":212679,"open_date":"2022-03-25","owner_type_code":null,"status_code":"E","station_name":"CBRE
        As Agent for EQC Operating Trust","station_phone":"800-663-5633","updated_at":"2022-05-31T00:32:33Z","facility_type":null,"geocode_status":"GPS","latitude":39.7502666,"longitude":-104.9951694,"city":"Denver","intersection_directions":null,"plus4":null,"state":"CO","street_address":"1225
        17th Street, Suite 130","zip":"80202","country":"US","bd_blends":null,"cng_dispenser_num":null,"cng_fill_type_code":null,"cng_psi":null,"cng_renewable_source":null,"cng_total_compression":null,"cng_total_storage":null,"cng_vehicle_class":null,"e85_blender_pump":null,"e85_other_ethanol_blends":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"SemaCharge
        Network","ev_network_web":"https://semaconnect.com/","ev_other_evse":null,"ev_pricing":"$2.00-$4.00/Hr
        Variable Parking Fee","ev_renewable_source":null,"hy_is_retail":null,"hy_pressures":null,"hy_standards":null,"hy_status_link":null,"lng_renewable_source":null,"lng_vehicle_class":null,"lpg_primary":null,"lpg_nozzle_types":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"access_days_time_fr":null,"intersection_directions_fr":null,"bd_blends_fr":null,"groups_with_access_code_fr":"Public","ev_pricing_fr":null,"ev_network_ids":{"station":["5965"],"posts":["2642","2643"]},"distance":0.0888,"distance_km":0.14291}]}'
  recorded_at: Tue, 31 May 2022 13:58:32 GMT
recorded_with: VCR 6.1.0
